    <div class="container" data-aos="fade-up">
        <div class="bg-img-2 overlay d-flex justify-content-center align-items-center" style="background-image: url('{{ "/assets/images/gal_1.jpg" | relative_url }}');">
            <div class="intro ">
                <h2 class="mb-3">Mejora tu calidad de vida</h2>
                <p><a href="https://api.whatsapp.com/send?phone=525517067116&text=Hola, quiero agendar una cita de valoración" class="btn btn-primary">Agenda una cita</a></p>
            </div>
        </div>
    </div>
    <br><br><br>

