<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    {%- seo -%}

    <link rel="stylesheet" href='{{ "/assets/fonts/icomoon/style.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/assets/fonts/flaticon/font/flaticon.css" | relative_url }}'>

    <link rel="stylesheet" href='{{ "/assets/tiny-slider.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/assets/aos.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/assets/flatpickr.min.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/assets/glightbox.min.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/assets/style.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/assets/ozonocell.css" | relative_url }}'>

    <script                 src='{{ "/assets/js/aos.js" | relative_url }}'></script>
    <script                 src='{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}'></script>

    <title>OzonoCell - Terapias alternativas para vivir mejor</title>

    {%- feed_meta -%}
</head>