    <div class="section sec-3 pt-0 section-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="counter">
                        <span class="countup">12582182</span>
                        <span class="caption">Total Infected</span>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter">
                        <span class="countup">391</span>
                        <span class="caption">Total Volunteer</span>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter">
                        <span class="countup">3321</span>
                        <span class="caption">Medical Doctors</span>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter">
                        <span class="countup">9818</span>
                        <span class="caption">Facilities</span>
                    </div>
                </div>
            </div>
        </div>
    </div>