
                <div class="col-lg-5 mb-5 mb-lg-0 me-auto testimonial-wrap"  data-aos-delay="0">
                    <h3 class="subheading">Testimonials</h3>
                    <h2 class="heading mb-5">What People Says..</h2>

                    <div class="wide-slider-testimonial-wrap">

                        <div class="wide-slider-testimonial">
                            <div class="item">
                                <blockquote class="block-testimonial">
                                    <div class="author">
                                        <img src='{{ "/assets/images/person_1.jpg" | relative_url }}' alt="Free template by TemplateUX">
                                        <h3>John Doe</h3>
                                        <p class="position mb-5">CEO, Founder</p>
                                    </div>
                                    <p>
                                        <div class="quote">&ldquo;</div>
                                    &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                </blockquote>
                            </div>

                            <div class="item">
                                <blockquote class="block-testimonial">
                                    <div class="author">
                                        <img src='{{ "/assets/images/person_2.jpg" | relative_url }}' alt="Free template by TemplateUX">
                                        <h3>James Woodland</h3>
                                        <p class="position mb-5">Designer at Facebook</p>
                                    </div>
                                    <p>
                                        <div class="quote">&ldquo;</div>
                                    &ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.&rdquo;</p>

                                </blockquote>
                            </div>

                            <div class="item">
                                <blockquote class="block-testimonial">
                                    <div class="author">
                                        <img src='{{ "/assets/images/person_3.jpg" | relative_url }}' alt="Free template by TemplateUX">
                                        <h3>Rob Smith</h3>
                                        <p class="position mb-5">Product Designer at Twitter</p>
                                    </div>
                                    <p>
                                        <div class="quote">&ldquo;</div>
                                    &ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>


               