---
layout: default
---

<div class="hero hero-bg inner bg-light" style="background-image: url('{{ "/assets/images/hero-img-1-min.jpg" | relative_url }}');">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-5 h-100">
            <div class="masthead" >
               <h1 class="text-white">Contáctanos</h1>

               <p class="mb-5 text-light-opacity-50">Queremos escucharte, envíanos tus comentarios y/o sugerencias.</p>

               <!--
               <p><a class="btn btn-primary me-4" href="#">Get in touch</a>
               <a href="#">Learn more</a> </p>
               -->
            </div>
         </div>
      </div>
   </div>
</div>

<div class="section">
   <div class="container">

      <div class="row" data-aos="fade-up" data-aos-delay="200"      >

         <div class="col-lg-8 ">
            <div class="comment-form-wrap pt-5">
               <h3 class="mb-5">Déjanos un comentario</h3>
               <form action="#" class="">
               <div class="mb-3"> <label for="name">Nombre *</label>
                  <input class="form-control" id="name" type="text">
               </div>
               <div class="mb-3"> <label for="email">Correo Electrónico *</label>
                  <input class="form-control" id="email" type="email">
               </div>
               <div class="mb-3"> <label for="website">Asunto</label>
                  <input class="form-control" id="subject" type="url">
               </div>
               <div class="mb-3"> <label for="message">Mensaje</label>
                  <textarea class="form-control" cols="30" id="message" name="" rows="10"></textarea>
               </div>
               <div class="mb-3">
                  <input class="btn btn-primary btn-md text-white" type="submit" value="Enviar Comentario">
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>



