---
layout: default
---

    <div class="hero">
        <div class="container" data-aos="fade-up" >
            <div class="row align-items-center" >

                <div class="col-lg-5 h-100">
                    <div class="masthead"  >
                        <h1>OzonoCell es un servicio médico especializado en Ozonoterapia</h1>

                        <p class="mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita voluptatum quo soluta vero perspiciatis cumque sed doloremque nihil aliquid at?.</p>
                        <p>
                            <a href="/contact/" class="btn btn-primary me-4">Contáctanos</a>

                        </p>
                    </div>
                </div>
                <div class="col-lg-7"   >
                <img src='{{ "/assets/images/folletos/mejora_calidad_vida.png" | relative_url }}' alt="Image" class="img-fluid">

                <!-- <img src='{{ "/assets/images/logoFacebook.png" | relative_url }}' alt="Image" class="img-fluid"> -->

                <!-- <img src='{{ "/assets/images/hero-img-1-min.png" | relative_url }}' alt="Image" class="img-fluid"> -->
                <!--
                    <div class="video-img-wrap">
                        <a href='{{ "/assets/video/tuboSangre.mp4" | relative_url }}' class="video-play-btn glightbox3">
                            <span class="icon-play"></span>
                        </a>
                        <img src='{{ "/assets/images/hero-img-1-min.png" | relative_url }}' alt="Image" class="img-fluid">
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5"  >
        <div class="social-inline">
            <ul class="list-unstyled d-inline-flex">
                <li class="me-4"><a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}" class="d-flex align-items-center"><span class="icon-facebook me-3"></span><span>Facebook</span></a></li>
            </ul>
        </div>
    </div>


    <div class="section services-section" data-aos="fade-up">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-5" >
                    <h3 class="subheading">Servicios</h3>
                    <h2 class="heading">Servicios personalizados para cada paciente</h2>
                </div>
            </div>

            <div class="row g-5">
                <div class="col-lg-4"   data-aos-delay="">

                    <div class="feature-1 d-block">
                        <div class="mb-3">
                            <span class="hex color-1 mb-3">
                                <i class="flaticon-vaccine"></i>
                            </span>
                        </div>
                        <div>
                            <h3>Ozonoterapia</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4"  >
                    <div class="feature-1 d-block">
                        <div class="mb-3">
                            <span class="hex color-2 mb-3">
                                <i class="flaticon-bacteria"></i>
                            </span>
                        </div>
                        <div>
                            <h3>Células Madre</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"  >
                    <div class="feature-1 d-block">
                        <div class="mb-3">
                            <span class="hex color-3 mb-3">
                                <i class="flaticon-test-tubes"></i>
                            </span>
                        </div>
                        <div>
                            <h3>Calidad de vida para diabéticos</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4"  data-aos-delay="">

                    <div class="feature-1 d-block">
                        <div class="mb-3">
                            <span class="hex color-4 mb-3">
                                <i class="flaticon-bacteria-1"></i>
                            </span>
                        </div>
                        <div>
                            <h3>Hernias discales</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4"  >
                    <div class="feature-1 d-block">
                        <div class="mb-3">
                            <span class="hex color-5 mb-3">
                                <i class="flaticon-lungs"></i>
                            </span>
                        </div>
                        <div>
                            <h3>Rodillas</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"  >
                    <div class="feature-1 d-block">
                        <div class="mb-3">
                            <span class="hex color-6 mb-3">
                                <i class="flaticon-mask"></i>
                            </span>
                        </div>
                        <div>
                            <h3>Regeneración de tejidos</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%- include callToAction.html -%}

<!--

include stats.html
include testimoniosAndFaq.html
include blog.html

-->



